# Documentation
riscv-card.pdf
riscv-spec-*.pdf

# The assembler itself
dcs-embler

# Output files
*.bin
*.riscv5i
*.out

# Scratch
scratch.*

# Build folder
build/**
# But we do want to keep it around
!build/.gitkeep

# clangd cache.
.cache
.cache/**